#table-header-name {
    max-width: 300px;
    min-width: 300px;
}

#table-header-city {
    max-width: 200px;
    min-width: 200px;
}

#table-header-state {
    max-width: 70px;
    min-width: 70px;
}

#table-header-phone\ number {
    max-width: 150px;
    min-width: 150px;
}

#table-header-genre {
    max-width: 350px;
    min-width: 350px;
}
